// custom css variables
$primary: #c29938;
$light: #fbf5e5;

// custom css
body {
  background: url(/src/img/cloudy-sunny.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
section {
  padding: 5rem 0;
}

#search-btn:hover {
  background-color: rgb(90, 90, 90);
}

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
